@import "tailwindcss";

@font-face {
  font-family: "GothamBold"; /* Name to use in your CSS */
  src: url("/Spotify-Font/Gotham-Bold.otf") format("opentype"); /* Path from the public folder */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GothamLight";
  src: url("//Spotify-Font/Gotham-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "GothamBold", sans-serif;
  overflow-x: hidden;
}

nav {
  width: 100vw;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-container {
  align-self: baseline;
}

#logo {
  font-size: 1.5rem;
  cursor: pointer;
}

#searchbar {
  width: 500px;
  border-color: transparent;
  outline: none;
  padding: 5px;
  margin-right: 5px;
}

#searchbar:focus {
  border-color: #3f3939; /* focus:border-neutral-700 */
  outline: none;
  opacity: 0.5;
}

#user-profile-container {
  margin-right: 1.2rem;
  align-self: baseline;
  transform: translateY(10px);
  cursor: pointer;
}

#user-profile {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.album-search {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.album-search .metadata {
  margin-top: 5px;
}

.album-search .metadata p {
  opacity: 0.5;
  font-size: small;
}

.album-search .metadata h5 {
  font-size: large;
  margin: 0;
}

.album-navbar-holder {
  margin-top: 1rem;
  box-shadow: 2px 2px 62px 3px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.Album {
  display: flex;
  height: 300px;
  justify-content: space-between;
  align-items: center;
}

.Album .metadata {
  background-color: #d9d9d9;
  width: 400px;
  height: 250px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.Album .metadata h2 {
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold;
}

.Album .metadata p {
  opacity: 0.6;
}

.Album .metadata button {
  width: 100%;
  transform: translateY(120px);
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.albums-main-page {
  display: flex;
  padding: 2rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.album-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.track::before {
  content: "";
  position: absolute;
  background-color: #2ae462;
  width: 10px;
  height: 24px;
  border-radius: 5px 0 0 5px;
  transform: translateX(-18px);
  transition: background-color 0.3s ease; /* optional smooth transition */
}

.track:hover::before {
  background-color: gray; /* this changes ::before background on hover */
}

.track-number {
  margin-right: 10px;
}

.track-duration {
  align-self: center;
}

.track-end {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.pointer {
  cursor: pointer;
}

.top100 {
  padding: 20px;
}
